@import '../../utilities/variables';

.product{   
    @media(max-width: 600px){
        margin-bottom: 2rem;
    }
    
    button{
        background-color: $tertiary-green;
        border: none;
        border-radius: 0.25rem;
        color: $primary-green;
        display: block;
        font-family: $pt-serif;
        font-size: 1.2rem;
        margin: 0 auto;
        padding: 0.5rem 1rem;

        &:hover{
            background-color: $primary-green;
            color: $white;
            cursor: pointer;
        }
    }

    img{
        display: block;
        margin: 0 auto;
        max-width: 250px;
    }

    p{
        color: $primary_green;
        margin: 0.5rem 0;
        text-align: center;
    }

    .name{
        font-family: $rufina;
        font-weight: 700;
    }

}