@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&family=Rufina:wght@400;700&display=swap');

$primary-green: #004236;
$secondary-green: #357a74;
$tertiary-green: #d6ce4b;
$primary-yellow: #f8f3e8;
$white: #fff;

$rufina: 'Rufina', serif;
$pt-serif: 'PT Serif', serif;