@import './utilities/reset.css';
@import './utilities/variables';

body{
    color: $primary-green;
    font-family: $pt-serif;
    font-size: 1.2rem;
    margin-bottom: 2.5rem;

}

button{
    background-color: $tertiary-green;
    border: none;
    border-radius: 0.25rem;
    color: $primary-green;
    display: block;
    font-family: $pt-serif;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 0.5rem 1rem;

    &:hover{
        background-color: $primary-green;
        color: $white;
        cursor: pointer;
    }
}

.container{
    margin: 9rem 2rem 2rem;
}

@media(min-width: $tablet){
    .container{
        margin: 7rem 2rem 2rem;
    }
}