@import './utilities/reset.css';
@import './utilities/variables';

body{
    color: $primary-green;
    font-family: $pt-serif;
    font-size: 1.2rem;
    margin-bottom: 2.5rem;

}

button{
    background-color: $tertiary-green;
    border: none;
    border-radius: 0.25rem;
    color: $primary-green;
    display: block;
    font-family: $pt-serif;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 0.5rem 1rem;

    &:hover{
        background-color: $primary-green;
        color: $white;
        cursor: pointer;
    }
}

.container{
    margin: 9rem 2rem 2rem;
}

#not-found{
    a{
        background-color: $tertiary-green;
        border: none;
        border-radius: 0.25rem;
        color: $primary-green;
        display: block;
        font-family: $pt-serif;
        font-size: 1.2rem;
        margin: 1rem auto 0;
        padding: 0.5rem 1rem;
        text-decoration: none;
        width: fit-content;
    }

    p{
        font-family: $rufina;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }
}

@media(min-width: $tablet){
    .container{
        margin: 7rem 2rem 2rem;
    }
}